
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutInfo</title>
</head>
<body>
    <div>
        Первый год жизни ребенка один из самых интересных и волнительных как для молодых,  так уже и опытных, родителей.<br> 
        Буквально каждый день их, как родителей, так и ребенка, ждет, что то новое. И каждый день родителям необходимо помнить <br>
        и знать массу информации: сколько ребенок спал, сколько и в котором часу ел, что ел, когда был последний осмотр у педиатра,<br> 
        и еще много чего другого. Данное приложение представляет собой ежедневник для малыша, который поможет не забыть столь важные <br>
        моменты, а также спланировать необходимые действия на будущее. 
    </div>
</body>
</html>
