
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Календарь развития", "DevelopmentInfo") 
    </div>
    <div>
        @Html.ActionLink("Ежедневник малыша", "ChildDiary")
    </div>
    <div>
        @Html.ActionLink("Информация", "AboutInfo")
    </div>
    <div>
        Тут будет форма для регистраци!!!
    </div>
</body>
</html>
