
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OneMonth</title>
</head>
<body>
    <div> 
        Развитие ребенка в 1 месяц
        Моторика	Физиологический гипертонус мышц уменьшается, ручки и ножки постепенно разгибаются, Выражены безусловные рефлексы: сосательный, хватательный (сожмет палец рукой), рефлекс ползания (если положить на животик, будет делать ползательные движения) и др.
        Достижения	Пытается держать голову, когда лежит на животике. В конце месяца с удовольствием лежит на животике и даже может перевернуться на спинку.
        Режим дня	Пока что кроха почти не бодрствует, а только ест и спит с интервалом 3-4 часа. К концу месяца у ребенка могут появиться промежутки бодрствования по 10-15 минут.
        Развитие речи, зрения и слуха	Малыш пытается рассматривать окружающую среду. Может вздрагивать, услышав резкие звуки. К концу месяца может появиться начальное гуление – кажется, что кроха пытается сказать гласные «а, и, е». Малыш еще плохо видит и на предметы не реагирует.
        Эмоции и социальное поведение	Малыш общается с мамой при помощи кряхтения и плача, требуя грудь или еду, или же просто рассказывая о том, что его что-то беспокоит. Может на минуту остановить взгляд на лице, пытаясь рассмотреть черты.
        Как развивать ребенка	Потанцуй с ребенком под любимую музыку, читай крохе стихи и напевай песенки, гладь ручки и делай массаж всего тела. Разговаривай с ребенком с первых дней ласковым голосом.

    </div>
</body>
</html>
