@* Not used anywhere!!! *@
<label for="feedingtype">Feeding type</label>
    <div>
            <select class="form-control" name="feedingtype" id="feedingtype" onchange="goToController(this)">
                <option disabled selected>Feeding type</option>
                <option @*selected="selected"*@ value="Eat">Breast feeding</option>
                <option value="Meal">Meals</option>
            </select>
    </div>
